.deps/
.*.swp
*.d.*
*.so
*.a
*.o
*.lib
*.mk
*.sa
*.so
*.lo
*.la
*.so
*.so.*
.libs/
config.log
*~
*kdev*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
config.h
config.status
stamp-h1
export/
libtool
libnetsnmpmibs-prefix
buildFlags
ddlproc/DDLProc
dmlproc/DMLProc
exemgr/ExeMgr
oamapps/calpontDB/calpontDBWrite
oamapps/calpontSupport/calpontSupport
oamapps/mcsadmin/mcsadmin
oamapps/postConfigure/amazonInstaller
oamapps/postConfigure/installer
oamapps/postConfigure/mycnfUpgrade
oamapps/postConfigure/patchInstaller
oamapps/postConfigure/postConfigure
oamapps/postConfigure/getMySQLpw
oamapps/sendtrap/sendtrap
oamapps/serverMonitor/ServerMonitor
oamapps/traphandler/trapHandler
primitives/primproc/PrimProc
procmgr/ProcMgr
procmon/ProcMon
tools/clearShm/clearShm
tools/cleartablelock/cleartablelock
tools/configMgt/autoConfigure
tools/configMgt/autoInstaller
tools/configMgt/svnQuery
tools/cplogger/cplogger
tools/dbbuilder/dbbuilder
tools/dbloadxml/colxml
tools/ddlcleanup/ddlcleanup
tools/editem/editem
tools/getConfig/getConfig
tools/idbmeminfo/idbmeminfo
tools/setConfig/setConfig
tools/viewtablelock/viewtablelock
versioning/BRM/autoinctest
versioning/BRM/controllernode
versioning/BRM/copylocktest
versioning/BRM/dbrmctl
versioning/BRM/load_brm
versioning/BRM/reset_locks
versioning/BRM/rollback
versioning/BRM/save_brm
versioning/BRM/tablelocktest
versioning/BRM/workernode
writeengine/bulk/cpimport.bin
writeengine/server/WriteEngineServer
writeengine/splitter/cpimport
oamapps/columnstoreDB/columnstoreDBWrite
oamapps/columnstoreSupport/columnstoreSupport
*MYMETA.json
CPackConfig.cmake
CPackSourceConfig.cmake
build/columnstore.community.spec
build/releasenum
*.rpm
install_manifest_libs.txt
install_manifest_platform.txt
install_manifest_storage-engine.txt
_CPack_Packages
.idea/
.build
**/.vs/*
/CMakeSettings.json
