.deps/
*.d.*
*.so
*.a
*.o
*.lib
*.sa
*.lo
*.la
.libs/
m4/
config.log
versionnumber.h
autom4te.cache/
*~
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.status
configure
libtool
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h1
export/
buildFlags
dbcon/ddlpackage/ddl-gram.cpp
dbcon/ddlpackage/ddl-gram.h
dbcon/dmlpackage/dml-gram.cpp
dbcon/dmlpackage/dml-gram.h
versioning/BRM/autoinctest
versioning/BRM/copylocktest
versioning/BRM/tablelocktest
