.deps/
.*.swp
*.d.*
*.so
*.a
*.o
*.lib
*.mk
*.sa
*.so
*.lo
*.la
*.so
*.so.*
*.vpj
.libs/
.cache/
compile_commands.json
settings.json
c_cpp_properties.json
config.log
*~
*kdev*
CMakeCache.txt
CMakeFiles
CMakeScripts
*_include.cmake
*_tests.cmake
Makefile
VERSION.dep
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
config.status
stamp-h1
export/
libtool
libnetsnmpmibs-prefix
buildFlags
dbcon/ddlpackage/ddl-gram.cpp
dbcon/ddlpackage/ddl-gram.h
dbcon/dmlpackage/dml-gram.cpp
dbcon/dmlpackage/dml-gram.h
dbcon/ddlpackage/ddl-scan.cpp
dbcon/ddlpackage/ddl-scan.h
dbcon/dmlpackage/dml-scan.cpp
dbcon/dmlpackage/dml-scan.h
ddlproc/DDLProc
dmlproc/DMLProc
exemgr/ExeMgr
oamapps/calpontDB/calpontDBWrite
oamapps/calpontSupport/calpontSupport
oamapps/mcsadmin/mcsadmin
oamapps/postConfigure/amazonInstaller
oamapps/postConfigure/installer
oamapps/postConfigure/mycnfUpgrade
oamapps/postConfigure/patchInstaller
oamapps/postConfigure/postConfigure
oamapps/postConfigure/getMySQLpw
oamapps/sendtrap/sendtrap
oamapps/serverMonitor/ServerMonitor
oamapps/traphandler/trapHandler
primitives/primproc/PrimProc
procmgr/ProcMgr
procmon/ProcMon
tools/clearShm/clearShm
tools/cleartablelock/cleartablelock
tools/configMgt/autoConfigure
tools/configMgt/autoInstaller
tools/configMgt/svnQuery
tools/cplogger/cplogger
tools/dbbuilder/dbbuilder
tools/dbloadxml/colxml
tools/ddlcleanup/ddlcleanup
tools/editem/editem
tools/getConfig/getConfig
tools/idbmeminfo/idbmeminfo
tools/setConfig/setConfig
tools/viewtablelock/viewtablelock
versioning/BRM/autoinctest
versioning/BRM/controllernode
versioning/BRM/copylocktest
versioning/BRM/dbrmctl
versioning/BRM/load_brm
versioning/BRM/reset_locks
versioning/BRM/rollback
versioning/BRM/save_brm
versioning/BRM/tablelocktest
versioning/BRM/workernode
writeengine/bulk/cpimport.bin
writeengine/server/WriteEngineServer
writeengine/splitter/cpimport
oamapps/columnstoreDB/columnstoreDBWrite
oamapps/columnstoreSupport/columnstoreSupport
net-snmp/net-snmp-5.7.3/include/net-snmp/net-snmp-config.h
net-snmp/net-snmp-5.7.3/net-snmp-config
net-snmp/net-snmp-5.7.3/net-snmp-create-v3-user
net-snmp/net-snmp-5.7.3/agent/mibgroup/mib_module_includes.h
net-snmp/net-snmp-5.7.3/configure-summary
net-snmp/net-snmp-5.7.3/dist/generation-scripts/gen-variables
net-snmp/net-snmp-5.7.3/include/net-snmp/agent/mib_module_config.h
*MYMETA.json
utils/loggingcpp/errorids.h
utils/loggingcpp/messageids.h
utils/loggingcpp/errorids-temp.h
utils/loggingcpp/messageids-temp.h
CPackConfig.cmake
CPackSourceConfig.cmake
build/columnstore.community.spec
build/releasenum
*.rpm
install_manifest_libs.txt
install_manifest_platform.txt
install_manifest_storage-engine.txt
_CPack_Packages
columnstoreversion.h
.idea/
.build
/.vs
/CMakeSettings.json
tags
*.orig
*.diff
oam/install_scripts/columnstore
oam/install_scripts/columnstoreInstall.sh
oam/install_scripts/columnstoreLogRotate
oam/install_scripts/post-install
oam/install_scripts/postInstall.sh
oam/install_scripts/pre-uninstall
oam/install_scripts/syslogSetup.sh
tools/setConfig/configxml.sh
dbcon/mysql/install_mcs_mysql.sh
oam/cloud/MCSInstanceCmds.sh
oam/cloud/MCSVolumeCmds.sh
oam/etc/ProcessConfig.xml
oam/install_scripts/columnstore-post-install
oam/install_scripts/columnstore-pre-uninstall
oam/install_scripts/columnstore.service
oam/install_scripts/columnstoreSyslog
oam/install_scripts/columnstoreSyslogSetup.sh
oam/install_scripts/columnstore_module_installer.sh
oam/install_scripts/disable-rep-columnstore.sh
oam/install_scripts/mariadb-columnstore.service
oam/install_scripts/mariadb-columnstore-start.sh
oam/install_scripts/mariadb-command-line.sh
oam/install_scripts/master-rep-columnstore.sh
oam/install_scripts/mcs-controllernode.service
oam/install_scripts/mcs-ddlproc.service
oam/install_scripts/mcs-dmlproc.service
oam/install_scripts/mcs-exemgr.service
oam/install_scripts/mcs-loadbrm.service
oam/install_scripts/mcs-primproc.service
oam/install_scripts/mcs-stop-controllernode.sh
oam/install_scripts/mcs-workernode.service
oam/install_scripts/mcs-writeengineserver.service
oam/install_scripts/mcs-loadbrm.py
oam/install_scripts/mcs-savebrm.py
oam/install_scripts/mcs-storagemanager.service
oam/install_scripts/mcs_module_installer.sh
oam/install_scripts/slave-rep-columnstore.sh
oam/install_scripts/mcs-start-storagemanager.py
oam/install_scripts/startupTests.sh
oam/post/mcstest-001.sh
oam/post/mcstest-002.sh
oam/post/mcstest-003.sh
oam/post/mcstest-004.sh
dbcon/mysql/ha_mcs_version.h
bin
external
gitversionEngine
mcsconfig.h
storage-manager/storagemanager.cnf
storage-manager/testS3Connection
storage-manager/unit_tests
.drone.yml
result/
mariadb-columnstore-regression-test/
build/Testing/
