[ObjectStorage]
service = LocalStorage
object_size = 5M
metadata_path = ${HOME}/storagemanager/metadata
journal_path = ${HOME}/storagemanager/journal
max_concurrent_downloads = 20
max_concurrent_uploads = 20

[S3]
region = us-west-1
bucket = s3-cs-test
# endpoint = <non-S3 endpoint to use>

# S3 credentials will come through standard AWS method
# of setting AWS_ACCESS_KEY_ID & AWS_SECRET_ACCESS_KEY envvars.
# TBD whether we should make it check the other places the awscli looks
# for creds.
# see https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html

[LocalStorage]
path = ${HOME}/storagemanager/fake-cloud

[Cache]
cache_size = 2g
path = ${HOME}/storagemanager/cache

