[mariadb-client]
quick
quick-max-column-width=0

[mysqld]
plugin-load-add=ha_columnstore.so

collation_server = utf8_general_ci
character_set_server = utf8

loose-columnstore_use_import_for_batchinsert = ON