[Unit]
Description=MariaDB Columnstore
After=network.target
[Service]
Type=forking
#Restart=on-abnormal
GuessMainPID=yes
ExecStart=/usr/local/mariadb/columnstore/bin/columnstore start
ExecStopPost=/usr/local/mariadb/columnstore/bin/columnstore stop
TimeoutStopSec=5
LimitNOFILE=65535
[Install]
WantedBy=multi-user.target
