CMAPI_VERSION_MAJOR=${CMAPI_VERSION_MAJOR}
CMAPI_VERSION_MINOR=${CMAPI_VERSION_MINOR}
CMAPI_VERSION_PATCH=${CMAPI_VERSION_PATCH}
CMAPI_VERSION_RELEASE=${CMAPI_VERSION_RELEASE}
CMAPI_GIT_REVISION=${CMAPI_GIT_REVISION}
